<%= form_for(current_user.favorites.build(:user_id => current_user.id)) do |f| %>
  <div><%= f.hidden_field :topic_id, :value => @topic.id %></div>
  <div><%= f.hidden_field :user_id, :value => current_user.id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>
