</tr>
<tr>
	<td>
		<% if post.created_at != post.updated_at %>
			<div class="small-letter">Edited at: <%= post.updated_at %></div>
		<% end %>
	</td>
	<td>
		<% if user_signed_in? && current_user.id == post.user.id && last_post_from_user?(post) %>
			<div class="text-right"><%= link_to "edit", edit_post_path(post) %></div>
		<% end %>
	</td>
</tr>