<tr>
	<th class="text-left span3 container-fluid filler">Post #<%= postnumber %></th>
	<td class="text-left span7 container-fluid filler"> <div class="text-right"><%= post.created_at %></div></td>
</tr>